body {
    background-color: gray;
}

#modal-container {
    width: 600px;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 16px
}

#modal-container {
    display: flex;
    gap: 16px;
}

#alert-container {
   width: 50px;
   height: 50px;
   background-color: lavender;
   border-radius: 50%;
   text-align: center;
   font-weight: bold;
   color: royalblue;
   font-size: 40px;
}

#modal-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#modal-header {
    display: flex;
    justify-content: space-between;
}

#header-text {
    font-size: 27px;
    font-weight: bold;
}

#button-container {
    display: flex;
    gap: 12px
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}
  
#exit-button {
    width: 27px;
    height: 27px;
    padding: 0;
    border-radius: 50%;
}

#continue {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

#cancel {
    background: white;
    border: 1px solid #ddd;
    color: royalblue;
}
